<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fernando Alonso | About</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">Sobre mi</a>
      <a href="/career">Mi carrera</a>
    </nav>

    
    <div class="aboutImg">
      <img
        class="aboutImg"
        src="images\fernando-about-img.png"
        alt="fernando-datos"
      />
    </div>
    <h2>About</h2>

    <div class="container">
      <p>
        Fernando Alonso es el séptimo piloto con mayor número de victorias en la
        historia de la Fórmula 1 con 32 grandes premios ganados y el quinto
        piloto con más podios: 104.4​5​ Es junto a Max Verstappen, el piloto que
        más posiciones de salida diferentes ha convertido en victoria: 9.6​
        Entre sus triunfos se cuentan tres en el Gran Premio de Malasia, tres en
        el Gran Premio de Alemania, tres en el Gran Premio de Europa y tres en
        el Gran Premio de Baréin. En 2017, fue incluido en el Salón de la Fama
        de la FIA.7​8​9​10​ En 2019 volvió a entrar en el Salón de la Fama de la
        FIA, esta vez como campeón del WEC, convirtiéndose en el primer piloto
        de la historia en ser miembro del Salón de la Fama por partida doble por
        pertenecer a la lista de campeones de dos categorías mundiales de la FIA
        diferentes.
      </p>

      <p>
        Junto a Alfonso de Portago, Pedro de la Rosa y Carlos Sainz Jr., es uno
        de los cuatro españoles que han alcanzado el podio en Fórmula 1, siendo
        junto a este último los únicos que han logrado victorias. Es, además, el
        único piloto de la historia en debutar con tres escuderías diferentes
        obteniendo un podio, McLaren (2007), Scuderia Ferrari (2010) y Aston
        Martin (2023), y uno de los cuatro pilotos que han debutado en Ferrari
        con victoria en la primera carrera (junto con Mario Andretti, Nigel
        Mansell y Kimi Räikkönen).
      </p>
    </div>
  </body>
</html>
