<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">
        <button>Home</button>
      </a>
      <a href="/about">
        <button>Sobre mi</button>
      </a>
      <a href="/career">
        <button>Mi carrera</button>
      </a>
    </nav>

    <hr>

    <div class="container">
      <table class="careertable">
        <thead>
          <tr>
            <th>AÑO</th>
            <th>DORSAL</th>
            <th>EQUIPO</th>
            <th>MOTOR</th>
            <th>NEUMATICOS</th>
            <th>CHASIS</th>
            <th>POS.</th>
            <th>VIC.</th>
            <th>POLES</th>
            <th>V.R.</th>
            <th>PTOS.</th>
            <th>GPs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2022</td>
            <td>14</td>
            <td>Alpine</td>
            <td>Renault</td>
            <td>Pirelli</td>
            <td>A522</td>
            <td>9</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>173</td>
            <td>22</td>
          </tr>
          <tr>
            <td>2021</td>
            <td>14</td>
            <td>Apline</td>
            <td>Renault</td>
            <td>Pirelli</td>
            <td>A521</td>
            <td>10</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>81</td>
            <td>22</td>
          </tr>
          <tr>
            <td>2018</td>
            <td>14</td>
            <td>McLaren</td>
            <td>Renault</td>
            <td>Pirelli</td>
            <td>MLC-33</td>
            <td>11</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>50</td>
            <td>21</td>
          </tr>
          <tr>
            <td>2017</td>
            <td>14</td>
            <td>McLaren</td>
            <td>Honda</td>
            <td>Pirelli</td>
            <td>MLC-32</td>
            <td>15</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>17</td>
            <td>19</td>
          </tr>
          <tr>
            <td>2016</td>
            <td>14</td>
            <td>Mclaren</td>
            <td>Honda</td>
            <td>Pirelli</td>
            <td>MP4-31</td>
            <td>10</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>54</td>
            <td>20</td>
          </tr>
          <tr>
            <td>2015</td>
            <td>14</td>
            <td>McLaren</td>
            <td>Honda</td>
            <td>Pirelli</td>
            <td>MP4-30</td>
            <td>17</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>11</td>
            <td>18</td>
          </tr>
          <tr>
            <td>2014</td>
            <td>14</td>
            <td>Ferrari</td>
            <td>Ferrari</td>
            <td>Pirelli</td>
            <td>F14 T</td>
            <td>6</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>161</td>
            <td>19</td>
          </tr>
          <tr>
            <td>2013</td>
            <td>3</td>
            <td>Ferrari</td>
            <td>Ferrari</td>
            <td>Pirelli</td>
            <td>F138</td>
            <td>2</td>
            <td>2</td>
            <td>-</td>
            <td>2</td>
            <td>242</td>
            <td>19</td>
          </tr>
          <tr>
            <td>2012</td>
            <td>5</td>
            <td>Ferrari</td>
            <td>Ferrari</td>
            <td>Pirelli</td>
            <td>F2012</td>
            <td>2</td>
            <td>3</td>
            <td>1</td>
            <td>-</td>
            <td>278</td>
            <td>20</td>
          </tr>
          <tr>
            <td>2011</td>
            <td>5</td>
            <td>Ferrari</td>
            <td>Ferrari</td>
            <td>Pirelli</td>
            <td>150 Italia</td>
            <td>4</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>257</td>
            <td>19</td>
          </tr>
          <tr>
            <td>2010</td>
            <td>8</td>
            <td>Ferrari</td>
            <td>Ferrari</td>
            <td>Bridgestone</td>
            <td>F10</td>
            <td>2</td>
            <td>5</td>
            <td>-</td>
            <td>5</td>
            <td>252</td>
            <td>19</td>
          </tr>
          <tr>
            <td>2009</td>
            <td>7</td>
            <td>Renault</td>
            <td>Renault</td>
            <td>Bridgestone</td>
            <td>R29</td>
            <td>9</td>
            <td>-</td>
            <td>-</td>
            <td>2</td>
            <td>26</td>
            <td>17</td>
          </tr>
          <tr>
            <td>2008</td>
            <td>5</td>
            <td>Renault</td>
            <td>Renault</td>
            <td>Bridgestone</td>
            <td>R28</td>
            <td>5</td>
            <td>2</td>
            <td>2</td>
            <td>-</td>
            <td>61</td>
            <td>18</td>
          </tr>
          <tr>
            <td>2007</td>
            <td>1</td>
            <td>McLaren</td>
            <td>Mercedez</td>
            <td>Bridgestone</td>
            <td>MP4-22</td>
            <td>3</td>
            <td>4</td>
            <td>-</td>
            <td>3</td>
            <td>109</td>
            <td>17</td>
          </tr>
          <tr>
            <td>2006</td>
            <td>1</td>
            <td>Renault</td>
            <td>Renault</td>
            <td>Michelin</td>
            <td>R26</td>
            <td>1</td>
            <td>7</td>
            <td>3</td>
            <td>5</td>
            <td>134</td>
            <td>18</td>
          </tr>
          <tr>
            <td>2005</td>
            <td>5</td>
            <td>Renault</td>
            <td>Renault</td>
            <td>Michelin</td>
            <td>R25</td>
            <td>1</td>
            <td>7</td>
            <td>5</td>
            <td>2</td>
            <td>133</td>
            <td>19</td>
          </tr>
          <tr>
            <td>2004</td>
            <td>8</td>
            <td>Renault</td>
            <td>Renault</td>
            <td>Michelin</td>
            <td>R24</td>
            <td>4</td>
            <td>-</td>
            <td>2</td>
            <td>-</td>
            <td>59</td>
            <td>18</td>
          </tr>
          <tr>
            <td>2003</td>
            <td>8</td>
            <td>Renault</td>
            <td>Renault</td>
            <td>Michelin</td>
            <td>R23</td>
            <td>5</td>
            <td>1</td>
            <td>-</td>
            <td>1</td>
            <td>55</td>
            <td>16</td>
          </tr>
          <tr>
            <td>2001</td>
            <td>21</td>
            <td>Minardi</td>
            <td>PS01</td>
            <td>Michelin</td>
            <td>European</td>
            <td>23</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>16</td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>

    <img class="footerimg" src="images/alonso-trofeo.jpeg" alt="">
  </body>
</html>
