<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fernando Alonso | Home</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <header>
      <img src="images/alonso2.png" alt="fernando-alonso" />
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/about">Sobre mi</a>
      <a href="/career">Mi carrera</a>
    </nav>

    <hr />

    <p>
      Fernando Alonso Díaz (Oviedo, Asturias; 29 de julio de 1981) es un piloto
      de automovilismo español, galardonado como Premio Príncipe de Asturias en
      2005. Ha ganado dos veces el Campeonato Mundial de Fórmula 1 en 2005 y
      2006,3resultó subcampeón en 2010, 2012 y 2013, y obtuvo un tercer puesto
      en 2007. Fue campeón del Campeonato Mundial de Resistencia de la FIA en
      2019, las 24 Horas de Le Mans en 2018 y 2019, las 24 Horas de Daytona de
      2019 y el Campeonato Mundial de Karting en 1996.
    </p>
    <p>
      En su carrera ha competido para los equipos Minardi, Renault, McLaren,
      Ferrari, Alpine y Aston Martin en Fórmula 1, siendo la escudería de
      Maranello su equipo desde 2010 hasta 2014, donde logró sus tres
      subcampeonatos y un Grand Chelem. Se marchó de Ferrari y en 2015 volvió a
      McLaren con su motor Honda hasta la retirada de 2018. Tras dos años fuera
      de la categoría, en 2021 volvió con la escudería Alpine, parte de la
      familia Renault, con la que ganó sus dos campeonatos. Desde 2023 forma
      parte del equipo Aston Martin sustituyendo a Sebastian Vettel.
    </p>
    <p>
      Además de competir en la máxima categoría, ha pilotado en las 500 Millas
      de Indianápolis de 2017, 2019 y 2020 junto a McLaren, llegando a liderar
      la carrera y siendo elegido novato del año en su primera participación, en
      las 24 Horas de Daytona de 2018 con un Ligier para United Autosports, en
      las 24 Horas de Daytona de 2019 con un Cadillac para Wayne Taylor Racing,
      y en el Campeonato Mundial de Resistencia de 2018-19 y el Rally Dakar de
      2020 para Toyota Gazoo Racing.
    </p>
  </body>
</html>
